{% extends 'security/security.html.twig' %}

{% block title %}Big Bill{% endblock %}

{% block notification %}
    {{ parent() }}
    {% if app.user %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info mt-2 mb-3 text-center">
                    Vous êtes déjà connecté en tant que {{ app.user.username }}, si vous souhaitez vous
                    déconnecter vous pouvez cliquer sur le lien
                    <a href="{{ path('app_logout') }}">
                        <strong>Se déconnecter</strong>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endblock %}

{% block form %}
    <form method="post">
        <div class="row form-group">
            <label class="pb-2" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                   class="form-control" required autofocus>
        </div>
        <div class="row form-group">
            <label class="pb-2" for="inputPassword">Mot de passe</label>
            <div class="input-group">
                <input type="password" name="password" id="inputPassword" class="form-control"
                       required>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary button_password" type="button"><i
                                class="fas fa-eye"></i></button>
                </div>
            </div>
        </div>
        <div class="row form-group d-flex justify-content-center">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-primary">Se connecter</button>
        </div>
        <div class="row d-flex justify-content-center">
            <a href="{{ path('password_forgot_request') }}">Mot de passe oublié</a>
        </div>
    </form>
{% endblock %}
