{% extends 'security/security.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Big Bill{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="row text-left pb-2">
        {{form_help(form.password)}}
    </div>
    <div class="row form-group">
        {{ form_label(form.password.first) }}
        <div class="input-group pt-2">
            {{ form_widget(form.password.first) }}
            <div class="input-group-append">
                <button class="btn btn-outline-primary button_password" type="button"><i class="fas fa-eye"></i></button>
            </div>
        </div>
    </div>
    <div class="row form-group">
        {{ form_label(form.password.second) }}
        <div class="input-group pt-2">
            {{ form_widget(form.password.second) }}
            <div class="input-group-append">
                <button class="btn btn-outline-primary button_password" type="button"><i class="fas fa-eye"></i></button>
            </div>
        </div>
    </div>
    <div class="row form-group d-flex justify-content-center">
        <button class="btn btn-primary">Valider</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
