{% extends 'security/security.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Big Bill{% endblock %}

{% block form %}
    {{ form_start(form) }}
    <div class="row form-group">
        <p class="text-left">Renseignez votre mail pour demander le changement de votre mot de passe</p>
        {{ form_widget(form.email) }}
    </div>
    <div class="row form-group d-flex justify-content-center">
        <a class="btn btn-outline-primary form-btn mr-2" href="{{ path('app_login') }}">Revenir sur la page précédente</a>
        <button class="btn btn-primary mr-4">Envoyer</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('securityjs') }}
{% endblock %}
