{{ form_start(form) }}
<div class="container">
    <div class="col-sm-12 col-md-2 name">
        {{ form_label(form.name, "Nom") }}
    </div>
    <div class="col-sm-12 col-md-12">
        {{ form_widget(form.name) }}
    </div>
    <div class="col-sm-12 col-md-2">
        {{ form_label(form.day, "Charge") }}
    </div>
    <div class="col-sm-12 col-md-12 ">
        {{ form_widget(form.day) }}
    </div>
    <div class="col-sm-12 col-md-2 ">
        {{ form_label(form.description, "Description") }}
    </div>
    <div class="col-sm-12 col-md-12 ">
        {{ form_widget(form.description) }}
    </div>
    <div class="col-sm-12 col-md-2 ">
        {{ form_label(form.category, "Catégorie") }}
    </div>
    <div class="col-sm-12 col-md-12">
        {{ form_widget(form.category) }}
    </div>
</div>

<div class="button-panel container">
    <button class="btn btn-primary form-btn"> Enregistrer les modifications</button>
    {% if id is defined %}
        {%  set route = path('project_edit', {'id':id}) %}
        {%  set label = 'Revenir à la fiche projet' %}
    {%  endif %}
    <a class="btn btn-outline-primary form-btn" href="{{ route ?? path('feature_index') }}">
        {{  label ?? 'Revenir à la liste des fonctionnalités' }}
    </a>
</div>
{{ form_end(form) }}
