{% extends 'base.html.twig' %}

{% block title %}Feature index{% endblock %}

{% block body %}
    <h1>Feature index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Day</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <td>{{ feature.name }}</td>
                <td>{{ feature.day }}</td>
                <td>{{ feature.description }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('feature_edit', {'id': feature.id}) }}">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('feature_new') }}">Create new</a>
{% endblock %}
