{% extends 'base.html.twig' %}

{% block title %}Big Bill | Fonctionnalités{% endblock %}

{% block body %}
    <h1>Liste des fonctionnalités récurrentes</h1>

    <div class="text-right">
        <a class=" btn btn-primary mb-3" href="{{ path('feature_new') }}"><i class="fas fa-plus-circle mr-1"></i>Ajouter une fonctionnalité</a>
    </div>
    <table class="table feature-index table-hover">

        <thead>
        <tr>
            <th class="text-center"><a href="{{ path('feature_index')}}?sort=name&direction={{ newDirection}}">Nom de la fonctionnalité <i class="sort-{{ sort=='name'?'active':'inactive' }} fas fa-angle-{{ newDirection=='asc'?'up':'down' }}"></i></a></th>
            <th class="text-center"><a href="{{ path('feature_index')}}?sort=day&direction={{ newDirection}}">Charge <i class="sort-{{ sort=='day'?'active':'inactive' }} fas fa-angle-{{ newDirection=='asc'?'up':'down' }}"></i></a></th>
            <th class="text-center"><a href="{{ path('feature_index')}}?sort=category.name&direction={{ newDirection}}">Categorie <i class="sort-{{ sort=='category.name'?'active':'inactive' }} fas fa-angle-{{ newDirection=='asc'?'up':'down' }}"></i></a></th>
            <th class="text-center">Description</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <th class="text-center">{{ feature.name }}</th>
                <td class="text-center">{{ feature.day }}</td>
                <td class="text-center">{{ feature.category.name }}</td>

                <td class="text-center description">
                    <span class="text-overflow-dynamic-container">
                        <span class="text-overflow-dynamic-ellipsis" data-toggle="tooltip" title="{{ feature.description }}">
                            {{ feature.description }}
                        </span>
                    </span>

                <td class="btn-row">
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ include('feature/_delete_form.html.twig') }}
                    {% endif %}

                    <a class="btn btn-sm btn-primary" href="{{ path('feature_edit', {'id': feature.id}) }}">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de fonctionnalité disponible !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation my-5">
        {{ knp_pagination_render(features) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}
