{% extends 'base.html.twig' %}

{% block title %}Big Bill | Fonctionnalités{% endblock %}

{% block body %}
    <h1>Liste des fonctionnalités récurrentes</h1>
    <a class="btn btn-sm btn-primary float-right " href="{{ path('feature_new') }}"><i
                class="fas fa-plus-circle"></i></a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Charge</th>
            <th>Catégorie</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for feature in features %}
            <tr>
                <td>{{ feature.name }}</td>
                <td>{{ feature.day }}</td>
                <td>{{ feature.category.name }}</td>
                <td>{{ feature.description }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('feature_edit', {'id': feature.id}) }}">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de fonctionnalités disponible !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation my-5">
        {{ knp_pagination_render(features) }}
    </div>
{% endblock %}
