{% extends 'base.html.twig' %}

{% block title %}ProjectFeature{% endblock %}

{% block body %}
    <h1>ProjectFeature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project_feature.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{{ project_feature.day }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project_feature.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_feature_index') }}">back to list</a>

    <a href="{{ path('project_feature_edit', {'id': project_feature.id}) }}">edit</a>

    {{ include('project_feature/_delete_form.html.twig') }}
{% endblock %}
