





<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Nom de la fonctionnalité</th>
        <th class="text-center" scope="col">Catégorie de la fonctionnalité</th>
        <th class="text-center" scope="col">Charge estimée</th>
        <th class="text-center" scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for projectFeature in form.projectFeatures %}
        <tr>
            <th scope="row">
                <h2>{{ project.projectFeatures[loop.index-1].feature.name}}</h2>
                {{ form_widget(projectFeature.feature, {'attr': {'class': 'hidden-field'}}) }}
                {{ form_errors(projectFeature.feature) }}
            </th>

            <td class="text-center">
                Non renseignée
            </td>

            <td class="text-center load">
                {{ form_widget(projectFeature.day) }} (j*h)
                {{ form_errors(projectFeature.day) }}
            </td>

            <td class="text-center">

            </td>
        </tr>

        <tr>
            <td class="feature-description" colspan="3">
                {{ form_row(projectFeature.description) }}
            </td>

        </tr>

    {% else %}
        <td>Pas de fonctionnalités enregistrées !</td>
    {% endfor %}
    </tbody>
</table>
