
{{ form_start(form) }}

   <div class="project-header container">
      <div class="row">
         <div class="col-8">
            {{ form_widget(form.name) }}
         </div>
         <div class="col-4 date">
            {{ form_widget(form.date) }}
         </div>
      </div>

      <div class="row">
         <div class="col-12 description">
            {{ form_widget(form.description) }}
         </div>
      </div>

      <div class="row">
         <div class="col-2 skill">
            {{ form_widget(form.confirmed) }}
            {{ form_label(form.confirmed, "Confirmé") }}
         </div>
         <div class="col-2 skill">
            {{ form_widget(form.expert) }}
            {{ form_label(form.expert, "Expert") }}
         </div>
         <div class="col-2 skill">
            {{ form_widget(form.junior) }}
            {{ form_label(form.junior, "Junior") }}
         </div>
      </div>
   </div>

{{ form_end(form) }}

