<div class="project-header container">

    <div class="row form-group my-4">
        <div class="col-sm-12 col-md-8 name">
            <h1>{{ form_widget(form.name,{'attr': {'class': 'w-100'}}) }}</h1>
            {{ form_errors(form.name) }}
        </div>

        <div class="col-sm-12 col-md-4 figures-card  justify-content-between">

            <div class="row input-align">
                <div class="col-sm-12 col-md-3 load">
                    <i class='fas fa-user-clock h4'> </i><p class="input-like">{{ load ?? 0 }}</p>
                </div>

                <div class="col-sm-12 col-md-5 cost">
                    <i class="fa fa-eur h4 py-1"> </i><p class="input-like">
                        {{ (price_per_day * load)|number_format(2, '.', ' ') }}
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 text-center text-{{ project.quotation.name }}">
                    {{ form_widget(form.quotation) }}
                </div>
            </div>
            <div class="row input-align">

                <div class="col-sm-12 col-md-3 col-lg-4 skill text-junior">
                    {{ form_label(form.junior, "Junior") }}{{ form_widget(form.junior) }}
                </div>


                <div class="col-sm-12 col-md-3 col-lg-4 skill text-confirmed">
                    {{ form_label(form.confirmed, "Confirmé") }}{{ form_widget(form.confirmed) }}
                </div>


                <div class="col-sm-12 col-md-3 col-lg-4 skill text-expert">
                    {{ form_label(form.expert, "Expert") }}{{ form_widget(form.expert) }}
                </div>

            </div>


            <div class="row">
                {{ form_errors(form.expert) }}
                {{ form_errors(form.junior) }}
                {{ form_errors(form.confirmed) }}
            </div>
        </div>
    </div>

    <div class="row form-group my-4">
        <div class="col-sm-12 col-md-2 application">
            <h2 class="m-0">{{ form_widget(form.application) }}</h2>
            {{ form_errors(form.application) }}
        </div>
    </div>

    <div class="row form-group my-4">
        <div class="col-12 description normal">
            {{ form_widget(form.description,{'attr': {'rows': '3'}}) }}
        </div>
    </div>



</div>
<div class="container">
    {% if not project.id is null %}
        <div class="table-tools d-flex justify-content-between">
            <ul class="nav nav-pills">
                {% for variantItem in variants %}
                    <li class="nav-item">
                        <a class="nav-link
                        {{ variant == variantItem.name and project.quotation.name == variantItem.name ? 'active default' :
                        variant == variantItem.name ? 'active' :
                        project.quotation.name == variantItem.name ? 'default' : '' }}"
                           href="{{ path('project_edit', {'id': project.id, 'variant':variantItem.name}) }}">
                            {{ variantItem.name|capitalize }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#add-feature">
                Ajouter une fonctionnalité <i class="fas fa-plus-circle ml-1"></i>
            </button>

        </div>

        <div class="tab-content">
            {{ include('project/_featuresList.html.twig') }}
        </div>
    {% endif %}
</div>


<div class="button-panel container">
    <button class="btn btn-primary form-btn">{{ buttonName }}</button>
    <a class="btn btn-outline-primary form-btn" href="{{ path('export', {'id': project.id, 'variant':variant }) }}" target="_blank">Exporter
        au format PDF</a>
    <a class="btn btn-outline-primary form-btn" href="{{ path('project_index') }}">Revenir à la liste des
        projets</a>
</div>
