
   <div class="project-header container">

      <div class="row form-group">
         <div class="col-sm-12 col-md-2 name">
            {{ form_label(form.name, "Nom du projet") }}
         </div>
         <div class="col-sm-12 col-md-7 name">
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
         </div>
         <div class="col-sm-12 col-md-2 load d-flex justify-content-end">
            <label>Charge Totale : </label>
         </div>
         <div class="col-sm-12 col-md-1 load d-flex justify-content-end">
            <p class="input-like">{{ load ?? 0 }}</p>
         </div>
      </div>

      <div class="row form-group">
         <div class="col-sm-12 col-md-2 description normal">
            {{ form_label(form.description, "Description du projet") }}
         </div>
         <div class="col-sm-12 col-md-10 description normal">
            {{ form_widget(form.description,{'attr': {'rows': '3'}}) }}
         </div>
      </div>

      <div class="row form-group">
         <div class="col-sm-12 col-md-2 application">
            {{ form_label(form.application, "Application de type : ") }}
         </div>
         <div class="col-sm-12 col-md-2 application">
            {{ form_widget(form.application) }}
            {{ form_errors(form.application) }}
         </div>
      </div>

      <div class="form-group">
         <div class="row input-align">
            <div class="col-sm-12 col-md-3 col-lg-2 skill">
               {{ form_widget(form.junior) }}
               {{ form_label(form.junior, "Junior") }}
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 skill">
               {{ form_widget(form.expert) }}
               {{ form_label(form.expert, "Expert") }}
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 skill">
               {{ form_widget(form.confirmed) }}
               {{ form_label(form.confirmed, "Confirmé") }}
            </div>
         </div>

         <div class="row">
            {{ form_errors(form.expert) }}
            {{ form_errors(form.junior) }}
            {{ form_errors(form.confirmed) }}
         </div>
      </div>

   </div>

   <div class="container">
      {{ include('project/_featuresList.html.twig') }}
   </div>
   <div class="button-panel container">
      <button class="btn btn-primary form-btn">{{ buttonName }}</button>
      <a class="btn btn-outline-primary form-btn" href="{{ path('project_index') }}">Revenir à la liste des projets</a>
   </div>

