{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <div class="project-header container">
        {{ form_start(form) }}

        {% include 'project/_form.html.twig' %}
        {% include 'project/_buttonNewProject.html.twig' %}

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('projectDetails') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
