<nav class="menu">
    <div class="menu-wrapper">
        <div class="logo">
            <a href="{{ path('project_index') }}" title="Big Bill">B</a>
        </div>
        <ul>
            <li>
                <a href="{{ path('project_index') }}" title="Projets">
                    <i class="fas fa-project-diagram"></i>
                </a>
                <a href="{{ path('project_index') }}" class="link-hover">Projets</a>
            </li>
            <li>
                <a href="{{ path('feature_index') }}" title="Fonctionnalités">
                    <i class="fas fa-cog"></i>
                </a>
                <a href="{{ path('feature_index') }}" class="link-hover">Fonctionnalités</a>
            </li>
            <li>
                <a href="{{ path('category_index') }}" title="Catégories">
                    <i class="fas fa-tags"></i>
                </a>
                <a href="{{ path('category_index') }}" class="link-hover">Catégories</a>
            </li>
            <li>
                <a href="{{ path('profile_index') }}" title="Mon profil">
                    <i class="fas fa-address-card"></i>
                </a>
                <a href="{{ path('profile_index') }}" class="link-hover">Mon profil</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('user_index') }}" title="Gestion des utilisateurs">
                    <i class="fas fa-user-friends"></i>
                </a>
                <a href="{{ path('user_index') }}" class="link-hover">Gestion des utilisateurs</a>
            </li>
            {% endif %}
        </ul>
        <div class="exit">
            <a href="{{ path('app_logout') }}" title="Se déconnecter"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</nav>
