{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Big Bill | Modifier le role
{% endblock %}

{% block body %}
    <h1>Modifier le rôle de l'utilisateur {{ user.firstname }} {{ user.lastname }}</h1>

    <section class="sheet">
        {{ form_start(form) }}
        <div class="container">
            <div class="row form-group">
                <div class="col-sm-12 col-md-10l">
                    {{ form_label(form.roles, "Rôles disponible") }}
                </div>
                <div class="col-sm-12 col-md-2">
                    {{ form_widget(form.roles) }}
                </div>
            </div>
        </div>

        <div class="button-panel container">
            <button class="btn btn-primary form-btn">Modifier le rôle</button>
            <a class="btn btn-outline-primary form-btn" href="{{ path('user_index') }}">Revenir à la liste des utilisateurs</a>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
