{% extends 'base.html.twig' %}

{% block title %}Big Bill | Utilisateur{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Nom</th>
                <th class="text-center">Prénom</th>
                <th class="text-center">Date d'entrée</th>
                <th class="text-center">Email</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="text-center">{{ user.lastname }}</td>
                <td class="text-center">{{ user.firstname }}</td>
                <td class="text-center">{{ user.creationDate ? user.creationDate|date('Y-m-d') : '' }}</td>
                <td class="text-center">{{ user.email }}</td>
                <td class="btn-group">
                    {{ include('user/_delete_form.html.twig') }}
                    <a title="Editer" class="btn btn-sm btn-primary ml-2" href="#">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Pas d'utilisateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
