{% extends 'base.html.twig' %}

{% block title %}Big Bill | Utilisateur{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <div class="text-right">
        <a class=" btn btn-primary mb-3" href="{{ path('user_new') }}"><i class="fas fa-plus-circle mr-1"></i>Ajouter un
            utilisateur</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center">Nom</th>
            <th class="text-center">Prénom</th>
            <th class="text-center">Date d'entrée</th>
            <th class="text-center">Email</th>
            <th class="text-center">Role</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="text-center">{{ user.lastname }}</td>
                <th class="text-center">{{ user.firstname }}</th>
                <td class="text-center">{{ user.creationDate ? user.creationDate|date('Y-m-d') : '' }}</td>
                <td class="text-center">{{ user.email }}</td>
                <td class="text-center">{{ user.roles|join|replace({'ROLE_USER': ''}) == 'ROLE_ADMIN' ? 'Administrateur' : 'Utilisateur' }}</td>
                <td class="btn-row">
                    {{ include('user/_delete_form.html.twig') }}
                    {% if app.user == user %}
                        <a class="btn btn-sm btn-primary ml-2 disabled" href="{{ path('user_index') }}"
                           title="Modifier le rôle de l'utilisateur">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-sm btn-primary ml-2 {{ app.user == user ? 'disabled' }}"
                           href="{{ path('user_role', {'id': user.id}) }}"
                           title="Modifier le rôle de l'utilisateur">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Pas d'utilisateur enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation my-5">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('user') }}
{% endblock %}
